@use '../variables' as*;

.infos-bar {
    padding: 16px 24px;
    background-color: $textColor;
    display: flex; //arrumar posicionamento do botão
    justify-content: space-between; //elementos sejam distribuidos entre os extremos

    &__infos {
        display: flex;
        gap: 40px;

        &__item {
            font-size: 14px;
            color: $secondaryTextColor;

            b{
                color: $secondaryTextColor;
                font-size: 18px;
                display: block; //a tag b por padrão tem um display in line e queremos que quebre a linha, por isso display block
            }
        }
    }

    @media (max-width: 640px) {
        display: block;

        &__infos {
            display: block;

            &__item {
                margin-bottom: 24px;
            }
        }
    }

    @media (max-width: 1024px) {
        &__infos {
            gap: 16px;
        }
    }
}